/* CSS declarations go here */

.registration-form{
    max-width: 330px;
    min-width: 330px;
    padding: 15px;
    margin: auto;
}

.search-time-field-header{
    min-width: 80px;
}

.no-right-padding{
    padding-right: 0;
}

.acct-field-header{
    min-width : 140px;
}

.ld-w{
    min-height: 100%;
    padding-top: 60px;
    background-color: #ffffff;
}

#eventcreate .btn-group .btn{
    padding: 5px 0 5px 0;
}

.ld{
    min-height: 100%;
    padding-top: 60px;
    color: #ecf0f1;
}

.thread-btn{
    margin: 5px;
    width: 140px;
}

.acct-field-footer{
    width : 100px;
}

.event-description{
    resize: none;
}

.event-image-thumbnail{
    min-height: 200px;
    background: url('/img/spinner.gif') center no-repeat;
}

.thread, .item-panel, .overflow-y-only{
    overflow-y: auto;
    overflow-x: hidden;
}

#thread-add-attachment{
    height: 25px;
    width: 25px;

}

.notification{
    height: 100px;
    width: 450px;
}

.notification img, .hover-click{
    cursor: pointer;
}

.discolor{
    background-color: #f9f9f9;
}

.notification-item-content{
    display: inline-block;
    height: 100px;
    width: 300px;
    vertical-align: top;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}

.notification-image{
    height: 100%;
    width: auto;
}

#clickSearch{
    border-left-width: 0;
}

.no-box-shadow{
    box-shadow: none!important;
}

.notification-item{
    border-radius: 0px;
    background-color: #ffffff;
}

.item{
    color: #000000;
    background-color: #ecf0f1;
    border-radius: 10px;
}

.btn-default.active{
    box-shadow: none!important;
}

.thread-post{
    padding: 5px;
    background-color: #eeeeee;
}

.btn-alizarin{
    background-color: #e74c3c;
    color: #ecf0f1;
}

.btn-alizarin-nh{
    background-color: #e74c3c;
    color: #ecf0f1;
}

.btn-alizarin-nh:hover{
    background-color: #e74c3c;
    color: #ecf0f1;
}

.btn-alizarin:hover, .btn-alizarin:focus{
    background-color: #c0392b;
    color: #ecf0f1;
}

.btn-peter-river{
    background-color: #3498db;
    color: #ecf0f1;
}

.btn-peter-river:hover, .btn-peter-river:focus{
    background-color: #3498db;
    color: #ecf0f1;
}

.btn-amethyst{
    background-color: #9b59b6;
    color: #ecf0f1;
}

.btn-amethyst:hover, .btn-amethyst:focus{
    background-color: #9b59b6;
    color: #ecf0f1;
}


#ignore, #removeFollower{
    color: #dcdcdc;
}

#ignore:hover, #removeFollower:hover{
    color: #000000;
}

.large-font-size{
    font-size: 2em;
}

.standard-font-size{
    font-size: 1.5em;
}

.smedium-font-size{
    font-size: 0.75em;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2.25em;
}

h3 {
    font-size: 2em;
}

h4 {
    font-size: 1.75em;
}

#unfollow:hover span, .alter-attendance:hover span{
    display: none;
}

#attend:hover:before{
    content: 'Attending'
}

#unattend:hover:before{
    content: 'Unattend'
}

#unfollow:hover:before{
    content: 'Unfollow';
}

#follow:hover span{
    display: none;
}

#photo{
    max-height: 200px;
    width: auto;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}


.disabled-category, .prof-category, .event-category{
    cursor: not-allowed;
    pointer-events: none;
}

.acct-edit-div{
    padding: 10px;
}

.acct-edit-div .input-group-addon{
    border-style: none;
}

.acct-edit-div span{
    background-color: #ffffff;
}

#account-item{
    border-radius: 40px;
    padding: 20px;
}

#account-item p{
    font-size: 1.5em;
}

#follow:hover:before{
    content: 'Follow';
}

#send-follow-request:hover span{
    display: none;
}

#send-follow-request:hover:before{
    content: 'Send Request';
}

#remove-follow-request:hover span{
    display: none;
}

#remove-follow-request:hover:before{
    content : 'Revoke Request'
}

#send-follow-request:hover, #follow:hover, #unfollow:hover, #remove-follow-request:hover, .alter-attendance:hover{
    background-color: #428bca;
    color: #ffffff;
}

#category-group .btn-default:hover{
    background-color: #ffffff;
}


#category-group .btn-alizarin:hover{
    background-color: #e74c3c;
}

.alter-attendance{
    width: 120px;
}

.event-field-header{
    min-width : 140px;
}

.business-registration-form{
    min-width: 400px;
    max-width: 500px;
    padding : 15px;
    margin: auto;
}

body{
    font-size: 100%;
}

#main-div ul{
    list-style: none;
    margin-right: 40px;
}

#main-div ul li{
    float: left;
}

#main-div ul li:hover{
    background-color: #2c3e50;
}

#main-div ul li a{
    font-family: 'Roboto', 'Varela', sans-serif;
    font-weight: 400;
    font-size: 2em;
    color: #ecf0f1;
    display: block;
    padding: 15px 15px 15px 15px;
}

.navbar-wet-asphalt{
    background-color: #34495e;
}

.navbar-wet-asphalt .navbar-toggle{
    border-color: #2c3e50;
}

.navbar-wet-asphalt .navbar-toggle:hover{
    background-color: #2c3e50;
}


.navbar-wet-asphalt .navbar-toggle span{
    background-color: #2c3e50;
}


.navbar-wet-asphalt .navbar-toggle:hover span{
    background-color: #34495e;
}

.navbar-toggle:focus{
    outline: none;
}

.navbar.navbar-wet-asphalt{
    border: none!important;
}

.btn:active{
    box-shadow: none!important;
}

.btn-default:focus{
    color: #000000;
}

.navbar-wet-asphalt li.active a{
    background-color: #2c3e50;
}


.navbar-wet-asphalt li a:hover{
    background-color: #2c3e50;
}

.navbar-wet-asphalt a{
    color: #ecf0f1;
}

.navbar-wet-asphalt ul li a{
    display: block;
}

#main-div ul li a:hover{
    text-decoration: none;
}

#main-div ul li a:active{
    text-decoration: none;
}

#main-div ul li a:focus{
    text-decoration: none;
}

#loginModal{
    color: #bdc3c7;
    font-weight: 400;
    font-size: 1.5em;
}

.btn-group.open .dropdown-toggle{
    box-shadow: none!important;
}

.dropdown-menu{
    box-shadow: none!important;
}

#event-create-modal{
    color: #000000;
}

#event-create-modal .btn-group-justified .btn{
    padding: 2px;
}

#event-create-modal .btn-group-justified .btn:hover{
    background-color: white;
}

#event-create-modal .btn-group-justified .btn:hover.active{
    background-color: #ebebeb;
}

#event-create-modal .btn-group-justified{
    margin-bottom: 2px;
}

#create-start-date, #create-end-date{
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

#eventcreate .btn:active{
    color: #000000;
}

#eventcreate .btn.active{
    background-color: #7f8c8d;
    color: #ecf0f1;
}

#moxx{
    font-weight: 500;
    font-size: 8em;
    color: #ecf0f1;
}

#text{
    font-size: 2em;
    color: #ecf0f1;
    font-weight: 200;
}


.asphalt-background{
    background-color: #34495e;
}

.asphalt{
    color: #34495e;
}

.modal-content{
    background-color: #ecf0f1;
}

.clouds{
    color: #ecf0f1;
}

.clouds-background{
    background-color: #ecf0f1;
}

.silver{
    color: #bdc3c7;
}

.silver-background{
    background-color: #bdc3c7;
}

#main-div, #register-div{
    background-color: #34495e;
    width: 100%;
    min-height: 100%;
}

#register-div{
    padding-top: 10px;
}

#register-div .item{
    background-color: #ecf0f1;
    padding: 10px;
    border-radius: 2px;
}

.below-nav{
    padding-top: 60px;
}

html, body{
    min-height: 100%;
    height: 100%;
    background-color: #2c3e50;
}

.upload-photo{
    margin: auto;
}

.valid-border{
    border-color: limegreen;
}

.invalid-border{
    border-color: #ff0000;
}


#profile-photo{
    width: 100%;
    max-width: 175px;
    height: auto;
}

.connection{
    width: 100%;
    max-width: 175px;
}

.event-profile-photo{
    height: 125px;
    width: 125px;
}

.result-photo, .item-photo{
    width: 100%;
    max-width: 100px;
    height: 100px;
}

#div-profile-info{
    padding: 10px;
    background-color: #ffffff;
    border-radius: 20px;
}

span.notifications{
    padding-left: 5px;
    padding-right: 5px;
    background-color: #e74c3c;
}

.event-item-photo{
    width: 115px;
    height: 115px;
    border-radius: 50%;
}

.result-item-text-div-top{
    display: table; height: 150px; overflow: hidden;
}

.result-item-text-div-inner{
    display: table-cell; vertical-align: middle;
}

.result-anchor{
    color: inherit;
}

.item-panel{
    padding: 5px;

}
.topFormGroup{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-style: none;
}

.middleFormGroup{
    border-radius: 0;
    border-bottom-style: none;
}

.bottomFormGroup{
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

#reg-button{
    margin-top: 15px;
    max-width: 150px;
}

.square-pill{
    border-radius: 0!important;
    width: 140px;
}

.square-button, .square-input, .square-border{
    border-radius: 0;
}

.interact-button{
    width: 200px;
}

#container {
    min-height: 100%;
}

.prof-event-div{
    background-color: #ffffff;
    margin-bottom: 10px;
}

#prof-header{
    margin-bottom: 20px;
}

.top-margin{
    margin-top: 10px;
}

.bottom-margin{
    margin-bottom: 10px;
}

.bottom-padding{
    padding-bottom: 10px;
}

#tag-line{
    margin-top: 45px;
    width: auto;
}

#navbar-search{
    border-radius: 3px;
    min-width: 400px;
}

.zero-margin{
    margin: 0;
}

.btn-span{
    width: 100px;
}

.border{
    border-style:solid;
    border-width:5px;
}

.pic-div{
    margin: auto;
    max-width: 500px;
}

#event-pic{
    height: 150px;
    width: 150px;
}

.comment-user-photo{
    height: 50px;
    width: auto;
}

.green-text{
    color: green;
}

.red-text{
    color: red;
}

.event-image{
    width: 100%;
    max-width: 350px;
    height: auto;
    margin: auto;
}

.category{
    margin: 2px;
}

.btn-margin{
    margin: 2px;
}

.event-btn{
    width: 120px;
    margin: 2px;
}

.all-center{
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.img-margin{
    margin-bottom : 25px;
}

.comment-button{
    background: none !important;
    border: none;
    padding: 0 !important;
    color: #428bca;
}

.comment-txt{
    line-height: 50px;
    vertical-align: middle;
}

.comment{
    margin-bottom: 2px;
}

.useritem-btn{
    width: 180px;
}

.no-bottom-margin{
    margin-bottom: 0px;
}

.no-left-margin{
    margin-left: 0px;
}

.padding-container{
    padding-left: 30px!important;
    padding-right: 30px!important;
}

#nav-nxs{
}

#nav-nxs-ul a:hover{
    background-color: #ecf0f1;
}

#nav-nxs-caret{
    background-color: #34495e;
}

#nav-nxs-caret:hover{
    background-color: #2c3e50;
}

#nav-nxs-caret:focus{
    background-color: #2c3e50;
}

#nav-nxs-caret:active{
    background-color: #2c3e50;
}

@media (min-width: 768px){
    .listable-item{
        border-radius: 150px;
        padding: 0px;
        background-color: #ecf0f1;
        color: #000000;
    }

    .show-on-xs-screen{
        display: none!important;
    }

    .no-left-padding{
        padding-left: 0!important;
    }

    #div-event-info{
        padding-left: 50px!important;
    }

}

@media (max-width: 767px) {

    .center-on-small-screen{
        text-align: center;
    }

    .listable-item{
        border-radius: 20px;
        padding: 5px;
        background-color: #ecf0f1;
        color: #000000;
        text-align: center;
    }

    .hide-on-xs-screen {
       display: none!important;
    }
}