<template name="account">
    <div class="ld">
        <div class="container padding-container">
        {{#with currentUser}}
            <div class="row">
                <div id='account-item' class="col-xs-12 item">
                    <div class="row">
                        <div class="col-xs-12">
                            <div id='name-div' class="row collapse in">
                                <div id="name-div-display" class="col-xs-12 col-sm-8 col-sm-offset-2 display">
                                    <div class="row">
                                        <div class="col-xs-3 acct-header">
                                            <p><strong>{{getString 'name'}}:</strong></p>
                                        </div>
                                        <div class="col-xs-6">
                                            {{#isolate}}
                                            <p class="acct-val">{{profile.first_name}} {{profile.last_name}}</p>
                                            {{/isolate}}
                                        </div>
                                        <div class="col-xs-2 col-xs-offset-1">
                                            <button id="name-change" class="btn btn-link change">{{getString 'change'}}</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="name-div-collapse" class="row collapse">
                                <div id="name-div-edit" class="col-xs-12 col-sm-8 col-sm-offset-2 acct-edit-div">
                                    <div class="row">
                                        <div class="col-xs-12 bottom-margin">
                                            <div class="form-group">
                                                <input id='first_name-new' type="text" class="form-control square-button" value="{{profile.first_name}}">
                                                <br>
                                                <input id='last_name-new' type="text" class="form-control square-button" value="{{profile.last_name}}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row text-center">
                                        <div class="col-xs-6">
                                            <button id='name-change-cancel' class="btn btn-link cancel">Cancel</button>
                                        </div>
                                        <div class="col-xs-6">
                                            <button id='name' class="btn btn-link">Update</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 collapse in">
                            <div id="email-div" class="row collapse in">
                                <div id="email-div-display" class="col-xs-12 col-sm-8 col-sm-offset-2 display">
                                    <div class="row">
                                        <div class="col-xs-3 acct-header">
                                            <p><strong>{{getString 'email'}}:</strong></p>
                                        </div>
                                        <div class="col-xs-6">
                                            {{#isolate}}
                                            <p class="acct-val">{{getObjFromIndex emails 'address' 0}}</p>
                                            {{/isolate}}
                                        </div>
                                        <div class="col-xs-2 col-xs-offset-1">
                                            <button id="email-change" data-toggle="collapse" data-target="#email-div" class="btn btn-link change">{{getString 'change'}}</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id='email-div-collapse' class="row collapse">
                                <div id="email-div-edit" class="col-xs-12 col-sm-8 col-sm-offset-2 acct-edit-div ">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="form-group">
                                                <input id='email-new' type="text" class="form-control square-button" value="{{getObjFromIndex emails 'address' 0}}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row text-center">
                                        <div class="col-xs-6">
                                            <button id='email-change-cancel' class="btn btn-link cancel" data-toggle="collapse" data-target="#email-div-collapse">Cancel</button>
                                        </div>
                                        <div class="col-xs-6">
                                            <button id='email' class="btn btn-link">Update</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div id="username-div" class="row collapse in">
                                <div id="username-div-display" class="col-xs-12 col-sm-8 col-sm-offset-2 display">
                                    <div class="row">
                                        <div class="col-xs-3 acct-header">
                                            <p><strong>{{getString 'username'}}:</strong></p>
                                        </div>
                                        <div class="col-xs-6">
                                            {{#isolate}}
                                            <p class="acct-val">{{username}}</p>
                                            {{/isolate}}
                                        </div>
                                        <div class="col-xs-2 col-xs-offset-1">
                                            <button id="username-change" class="btn btn-link change" data-toggle="collapse" data-target="#username-div" >{{getString 'change'}}</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id='username-div-collapse' class="row collapse">
                                <div id="username-div-edit" class="col-xs-12 col-sm-8 col-sm-offset-2 acct-edit-div">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="form-group">
                                                <input id='username-new' type="text" class="form-control square-button" value="{{username}}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row text-center">
                                        <div class="col-xs-6">
                                            <button id='username-change-cancel' class="btn btn-link cancel" data-toggle="collapse" data-target="#username-div-collapse">Cancel</button>
                                        </div>
                                        <div class="col-xs-6">
                                            <button id='username' class="btn btn-link">Update</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{#if profile.hasBrand}}
                        <div class="col-xs-12">
                            <div id="bn-name-div" class="row collapse in">
                                <div id="bn-name-div-display" class="col-xs-12 col-sm-8 col-sm-offset-2 display">
                                    <div class="row">
                                        <div class="col-xs-3 acct-header">
                                            <p><strong>{{getString 'companyName'}}:</strong></p>
                                        </div>
                                        <div class="col-xs-6">
                                            {{#isolate}}
                                            <p class="acct-val">{{profile.business_name}}</p>
                                            {{/isolate}}
                                        </div>
                                        <div class="col-xs-2 col-xs-offset-1">
                                            <button id="bn-name-change" class="btn btn-link change" data-toggle="collapse" data-target="#bn-name-div">{{getString 'change'}}</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id='bn-name-div-collapse' class="row collapse">
                                <div id="bn-name-div-edit" class="col-xs-12 col-sm-8 col-sm-offset-2 acct-edit-div">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="form-group">
                                                <input id='business_name-new' type="text" class="form-control square-button" value="{{profile.business_name}}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row text-center">
                                        <div class="col-xs-6">
                                            <button id='bn-name-change-cancel' class="btn btn-link cancel" data-toggle="collapse" data-target="#bn-name-div-collapse">Cancel</button>
                                        </div>
                                        <div class="col-xs-6">
                                            <button id='business_name' class="btn btn-link">Update</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div id="bn-address-div" class="row collapse in">
                                <div id="bn-address-div-display" class="col-xs-12 col-sm-8 col-sm-offset-2 display">
                                    <div class="row">
                                        <div class="col-xs-3 acct-header">
                                            <p><strong>{{getString 'businessAddress'}}:</strong></p>
                                        </div>
                                        <div class="col-xs-6">
                                            {{#isolate}}
                                            <p class="acct-val">{{profile.address}}</p>
                                            {{/isolate}}
                                        </div>
                                        <div class="col-xs-2 col-xs-offset-1">
                                            <button id="bn-address-change" class="btn btn-link change" data-toggle="collapse" data-target="#bn-address-div" >{{getString 'change'}}</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="bn-address-div-collapse" class="row collapse">
                                <div id="bn-address-div-edit" class="col-xs-12 col-sm-8 col-sm-offset-2 acct-edit-div">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="form-group">
                                                <input id='address-new' type="text" class="form-control square-button" value="{{profile.address}}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row text-center">
                                        <div class="col-xs-6">
                                            <button id='bn-address-change-cancel' class="btn btn-link cancel" data-toggle="collapse" data-target="#bn-address-div-collapse">Cancel</button>
                                        </div>
                                        <div class="col-xs-6">
                                            <button id='address' class="btn btn-link change">Update</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div id="bn-website-div" class="row collapse in">
                                <div id="bn-website-div-display" class="col-xs-12 col-sm-8 col-sm-offset-2 display">
                                    <div class="row">
                                        <div class="col-xs-3 acct-header">
                                            <p><strong>{{getString 'website'}}:</strong></p>
                                        </div>
                                        <div class="col-xs-6">
                                            {{#isolate}}
                                            <p class="acct-val"><a href="{{profile.website}}">{{profile.website}}</a></p>
                                            {{/isolate}}
                                        </div>
                                        <div class="col-xs-2 col-xs-offset-1">
                                            <button id="bn-website-change" class="btn btn-link change" data-toggle="collapse" data-target="#bn-website-div" >{{getString 'change'}}</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id='bn-website-div-collapse' class="row collapse">
                                <div id="bn-website-div-edit" class="col-xs-12 col-sm-8 col-sm-offset-2 acct-edit-div">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="form-group">
                                                <input id='website-new' type="text" class="form-control square-button" value="{{profile.website}}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row text-center">
                                        <div class="col-xs-6">
                                            <button id='bn-website-change-cancel' class="btn btn-link cancel" data-toggle="collapse" data-target="#bn-website-div-collapse">Cancel</button>
                                        </div>
                                        <div class="col-xs-6">
                                            <button id='website' class="btn btn-link">Update</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <div id="bn-contact-div" class="row collapse in">
                                <div id="bn-contact-div-display" class="col-xs-12 col-sm-8 col-sm-offset-2 display">
                                    <div class="row">
                                        <div class="col-xs-3 acct-header">
                                            <p><strong>{{getString 'phoneNumber'}}</strong></p>
                                        </div>
                                        <div class="col-xs-6">
                                            {{#isolate}}
                                            <p class="acct-val">{{profile.phoneNumber}}</p>
                                            {{/isolate}}
                                        </div>
                                        <div class="col-xs-2 col-xs-offset-1">
                                            <button id="bn-contact-change"  class="btn btn-link change" data-toggle="collapse" data-target="#bn-contact-div" >{{getString 'change'}}</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="bn-contact-div-collapse" class="row collapse">
                                <div id="bn-contact-div-edit" class="col-xs-12 col-sm-8 col-sm-offset-2 acct-edit-div">
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="form-group">
                                                <input id='phoneNumber-new' type="text" class="form-control square-input" value="{{profile.phoneNumber}}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row text-center">
                                        <div class="col-xs-6">
                                            <button id='bn-contact-change-cancel' class="btn btn-link cancel" data-toggle="collapse" data-target="#bn-contact-div-collapse">Cancel</button>
                                        </div>
                                        <div class="col-xs-6">
                                            <button id='phoneNumber' class="btn btn-link">Update</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {{/if}}
                        <div class="col-xs-12">
                            <div id='pwd-div' class="row collapse in">
                                <div class="col-xs-12 col-sm-8 col-sm-offset-2 text-center">
                                    <button id='changePwd' class="btn btn-link"><strong>{{getString 'changePassword'}}</strong></button>
                                </div>
                            </div>
                            <div id="pwd-div-collapse" class="row collapse">
                                <div id="pwd-edit" class="col-xs-12 col-sm-8 col-sm-offset-2 acct-edit-div ">
                                    <div class="row">
                                        <div class="col-xs-12 bottom-margin">
                                            <div class="form-group">
                                                <input id='oldPass' type="password" placeholder="{{getString 'enterPassword'}}" class="form-control square-input">
                                                <br>
                                                <input id='pass1' type="password" placeholder="{{getString 'enterNewPassword'}}" class="form-control square-input">
                                                <br>
                                                <input id='pass2' type="password" placeholder="{{getString 'reEnterPassword'}}" class="form-control square-input">
                                            </div>
                                        </div>
                                        <div class="row text-center">
                                            <div class="col-xs-6">
                                                <button id="changePwd-cancel" class='btn btn-link pwd-cancel'>Cancel</button>
                                            </div>
                                            <div class="col-xs-6">
                                                <button id="update-pwd" class='btn btn-link'>Update</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                    {{#isolate}}
                    <div class="row">
                        <div class="col-xs-12 col-sm-8 col-sm-offset-2 text-center">
                            <h3>
                                {{#if profile.hasBrand}}
                                Which categories best describe your business?
                                {{else}}
                                Interests
                                {{/if}}
                            </h3>
                        </div>
                        <div class="col-xs-12">
                            {{>categories}}
                        </div>
                    </div>
                    {{/isolate}}
                </div>
            </div>
        {{/with}}
        </div>
    </div>
</template>