<template name="admin">
    <div class="ld">
    {{#isolate}}
    {{#if showEmail}}
    <!-- Modal -->
    <div class="modal show">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">To: {{toEmail}}</h4>
                </div>
                <div class="modal-body">
                    <textarea id="emailSubject" class="form-control" placeholder="Subject"></textarea>
                    <textarea id="emailBody" class="form-control" rows="3" placeholder="Body"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" id="closeEmail">Close</button>
                    <button type="button" class="btn btn-primary" id="sendEmail">Email</button>
                </div>
            </div>
        </div>
    </div>
    {{/if}}
    {{/isolate}}

    {{#if isVerified}}
    <div class="row">
        <button class="btn btn-primary square-button" id="initLoad">
            Load Scraped Data
        </button>

        <button class="btn btn-primary square-button" id="emailButton">
            Email
        </button>
    </div>
     <div class="col-xs-4">
         <h1>
             Users
         </h1>
         <div class="row standard-font-size">
             <input type="checkbox" id="checkAll">Select All
         </div>
         {{#each userData}}
            <div class="row standard-font-size">
                <input type="checkbox" class="checkUser"><a href="/profile/{{username}}">{{username}}</a>
            </div>
         {{/each}}
     </div>

    <div class="col-xs-4">
        <h1>
            Brands
        </h1>
        {{#each brandData}}
        <div class="row standard-font-size">
            <a href="/profile/{{username}}">{{username}}</a>
        </div>
        {{/each}}
    </div>

    <div class="col-xs-4">
        <h1>
            Events
        </h1>
        {{#each eventData}}
            <div class="row standard-font-size">
                <a href="/event/{{_id}}">{{title}}</a>
            </div>
        {{/each}}
    </div>
    {{else}}
        <p class="standard-font-size text-center">
            A verification email has been sent to you. You must verify first before viewing this page.
        </p>
    {{/if}}
    </div>
</template>