<template name="attendees">
    <div class="row text-center">
        <a href='/event/{{eventData._id}}' id="return" class="btn btn-link">{{getString 'returnToEvent'}}</a>
    </div>
    <ul class="nav nav-pills">
        <li id='attending' data-toggle="tab" class=" {{isActive 'attending'}}">
            <a href="#" class="active-toggle square-border">{{getString 'attending'}} <span class="badge">{{attendingCount}}</span></a>
        </li>
        <li id='maybe' data-toggle="tab" class="{{isActive 'maybe'}}">
            <a href="#" class="active-toggle square-border">{{getString 'maybe'}} <span class="badge">{{maybeAttendingCount}}</span></a>
        </li>
        <li id='invited' data-toggle="tab" class="{{isActive 'invited'}}">
            <a href="#" class="active-toggle square-border">{{getString 'invited'}} <span class="badge">{{invitedCount}}</span></a>
        </li>
    </ul>
    {{#each rsvp}}
    {{>useritem}}
    {{/each}}
</template>