<template name="brandResult">
    <div class="container">
        <div class="row item">
            <div class="col-xs-12 col-sm-2 col-sm-offset-1 text-center">
                <a href="/profile/{{username}}"><img alt src='{{getObjFromIndex profile.uploadedpic "src"}}' class="result-photo img-circle"></a>
            </div>
            <div class="col-sm-8 col-xs-12">
                <div class="row">
                    <div class="col-xs-12">
                        <p class="standard-font-size">{{profile.business_name}}</p>
                        <p class="standard-font-size"><a href='{{profile.website}}'>{{profile.website}}</a></p>
                        <p class="standard-font-size">{{profile.address}}</p>
                        <p class="standard-font-size">@{{username}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 text-right">
                        {{#each arrayify profile.categories}}
                        <button class="disabled-category btn btn-danger category">
                            {{getCategoryString value}}
                        </button>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>