<template name="businessRegister">
    <input class="form-control topFormGroup" id="businessRegFirstLast" type="text" placeholder="{{getString 'firstAndLastName'}}"/>
    <input class="form-control middleFormGroup" id="businessCompanyName" type="text" placeholder="{{getString 'companyName'}}"/>
    <input class="form-control middleFormGroup" id="businessWebsite" type="text" placeholder="{{getString 'website'}}"/>
    <input class="form-control middleFormGroup" id="businessPhone" type="text" placeholder="{{getString 'phoneNumber'}}"/>
    <input class="form-control middleFormGroup" id="businessAddress" type="text" placeholder="{{getString 'businessAddress'}}"/>
    <input class="form-control middleFormGroup" id="businessRegEmail" type="email" placeholder="{{getString 'enterEmail'}}"/>
    <input class="form-control middleFormGroup" id="businessRegPasswordOne" type="password" placeholder="{{getString 'password'}}"/>
    <input class="form-control bottomFormGroup" id="businessRegPasswordTwo" type="password" placeholder="{{getString 'reEnterPassword'}}"/>

</template>