<template name="categories">
    <div class="row text-center">
        {{#each arrayify e_categories}}
        <button id={{name}} class="btn {{selectString name 'btn-peter-river' 'btn-default'}} btn-sm category">{{value}}</button>
        {{/each}}
    </div>
    <br>
</template>