<template name="chat">
    <div class="row">
        <div class="col-xs-12 col-md-10 col-md-offset-1">
            <div id="thread-header">
                <button type="button" class="close leaveChat" data-dismiss="alert" >&times;</button>
                <h1>
                    {{title}}
                </h1>

                <p class="standard-font-size">
                    Members:
                    {{#each arrayify members}}
                    <a href="/profile/{{value}}">{{value}} </a>
                    {{/each}}

                <p>

                <div class="input-group hide-on-xs-screen">
                    <input class="form-control square-input add-members-input" type="text" placeholder="{{getString 'addMemberList'}}" id="addMemberList"/>
                    <span class="input-group-btn">
                        <button class="btn btn-primary square-button" id="addMembers">
                            {{getString "addMembers"}}
                        </button>
                    </span>
                </div>
                <div class="show-on-xs-screen">
                    <input class="form-control square-input add-members-input" type="text" placeholder="{{getString 'addMemberList'}}"/>
                </div>
            </div>
            <div class="thread">
                {{#unless myHasAll}}
                <div class="col-xs-12 text-center">
                    <button id="loadEarlier" class="btn btn-link">
                        {{getString "loadEarlier"}}
                    </button>
                </div>
                {{/unless}}
                {{> thread}}
            </div>
            <div class="thread-post">
                <div class="row">
                    <div class="col-xs-12">
                        <input class="form-control square-input" type="text" placeholder="{{getString 'messageplaceholder'}}" id="messagePlaceholder"/>
                    </div>
                </div>
                <div class="row ">
                    <div class="col-xs-12 text-center">
                        <button class="btn btn-primary square-button thread-btn" id="postMessage">
                            {{getString "postMessage"}}
                        </button>
                        <button class="btn {{uploadImageIcon}} square-button thread-btn" id="postImage">
                            {{attachmentString}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>