<template name="comment">
    <div class="comment">
        <div class="row">
            <div class="col-sm-2 text-center">
                <img src="{{getCommentOwnerPhoto}}" class="img-responsive">
            </div>
            <div class="col-sm-10">
                {{comment}}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-offset-4 col-sm-4">
                <a id="likecomment" class='standard-font-size' href="#">Like</a>
            </div>
            <div class="col-sm-4">
                {{#if isMyComment}}<a title="{{../eventData._id}}" id='removecomment' class="standard-font-size" href="#">Remove</a>{{/if}}
            </div>
        </div>
    </div>
</template>