<template name="connections">
    <ul class="nav nav-pills standard-font-size">
        <li data-toggle="tab" id="everyone" class="{{isActive 'everyone'}} text-center">
            <a href="#" class="square-pill">Everyone <span class="badge">{{everyoneCount}}</span></a>
        </li>
        <li data-toggle="tab" id="brands" class="{{isActive 'brands'}} text-center">
            <a href="#" class="square-pill">Brands <span class="badge">{{brandCount}}</span></a>
        </li>
        <li data-toggle="tab" id="people" class="{{isActive 'people'}} text-center">
            <a href="#" class="square-pill">People <span class="badge">{{consumerCount}}</span></a>
        </li>
    </ul>
    <br>
    {{#each connections}}
        {{>useritem}}
    {{/each}}
</template>