<template name="eventcreate">
    <div id='eventcreate' class="ld" style="padding-bottom: 30px">
        <div class="container">
            <form>
                <div class="form-group">
                    <div class="text-center">
                        <img id="photo" class="img-rounded" src="{{getImageSource}}" alt="event-image"/>
                    </div>
                </div>

                <div id='event-attr' class="form-group standard-font-size">
                    <div class="row">
                        <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
                            <div class="btn-group btn-group-justified">
                                <a id="private" href="#" class="btn btn-default {{isActive 'private'}} event-attr">Private Event</a>
                                <a id="recurring" href="#" class="btn btn-default {{isActive 'recurring'}} event-attr">Recurring</a>
                            </div>
                        </div>
                    </div>
                </div>



                {{#isolate}}
                <div class="form-group">

                    {{#if isEventRecurring}}
                    <div class="form-group">
                        <div class="btn-group btn-group-justified">
                            {{#each arrayify days}}
                            <a id="{{name}}" class="btn btn-default {{isDayActive name}} day">{{value}}</a>
                            {{/each}}
                        </div>
                    </div>
                    {{/if}}

                    <p class="standard-font-size">Start</p>
                    {{#unless isEventRecurring}}
                    <form style="margin-bottom: 2px">
                        <input id="create-start-date" value='{{getDate}}'
                               readonly type="text" class="form-control date-picker"/>
                    </form>
                    {{/unless}}
                    <div class="btn-group btn-group-justified" style="margin-bottom: 2px">
                        <a id='1-h' href="#" class="btn btn-default {{isActive '1-h'}} start-hour">1</a>
                        <a id='2-h' href="#" class="btn btn-default {{isActive '2-h'}} start-hour">2</a>
                        <a id='3-h' href="#" class="btn btn-default {{isActive '3-h'}} start-hour">3</a>
                        <a id='4-h' href="#" class="btn btn-default {{isActive '4-h'}} start-hour">4</a>
                        <a id='5-h' href="#" class="btn btn-default {{isActive '5-h'}} start-hour">5</a>
                        <a id='6-h' href="#" class="btn btn-default {{isActive '6-h'}} start-hour">6</a>
                        <a id='7-h' href="#" class="btn btn-default {{isActive '7-h'}} start-hour">7</a>
                        <a id='8-h' href="#" class="btn btn-default {{isActive '8-h'}} start-hour">8</a>
                        <a id='9-h' href="#" class="btn btn-default {{isActive '9-h'}} start-hour">9</a>
                        <a id='10-h' href="#" class="btn btn-default {{isActive '10-h'}} start-hour">10</a>
                        <a id='11-h' href="#" class="btn btn-default {{isActive '11-h'}} start-hour">11</a>
                        <a id='12-h' href="#" class="btn btn-default {{isActive '12-h'}} start-hour">12</a>
                    </div>

                    <div class="btn-group btn-group-justified">
                        <a id='00-m' href="#" class="btn btn-default {{isActive '00-m'}} start-minute">00</a>
                        <a id='05-m' href="#" class="btn btn-default {{isActive '05-m'}} start-minute">05</a>
                        <a id='10-m' href="#" class="btn btn-default {{isActive '10-m'}} start-minute">10</a>
                        <a id='15-m' href="#" class="btn btn-default {{isActive '15-m'}} start-minute">15</a>
                        <a id='20-m' href="#" class="btn btn-default {{isActive '20-m'}} start-minute">20</a>
                        <a id='25-m' href="#" class="btn btn-default {{isActive '25-m'}} start-minute">25</a>
                        <a id='30-m' href="#" class="btn btn-default {{isActive '30-m'}} start-minute">30</a>
                        <a id='35-m' href="#" class="btn btn-default {{isActive '35-m'}} start-minute">35</a>
                        <a id='40-m' href="#" class="btn btn-default {{isActive '40-m'}} start-minute">40</a>
                        <a id='45-m' href="#" class="btn btn-default {{isActive '45-m'}} start-minute">45</a>
                        <a id='50-m' href="#" class="btn btn-default {{isActive '50-m'}} start-minute">50</a>
                        <a id='55-m' href="#" class="btn btn-default {{isActive '55-m'}} start-minute">55</a>
                    </div>

                    <br>

                    <div class="btn-group btn-group-justified">
                        <a href="#" class="btn btn-default" style="visibility: hidden"></a>
                        <a href="#" class="btn btn-default" style="visibility: hidden"></a>
                        <a href="#" class="btn btn-default" style="visibility: hidden"></a>
                        <a href="#" class="btn btn-default" style="visibility: hidden"></a>
                        <a href="#" class="btn btn-default" style="visibility: hidden"></a>
                        <a id='am' href="#" class="btn btn-default start-meridiem {{isActiveStartMeridiem 'am'}}">am</a>
                        <a id='pm' href="#" class="btn btn-default start-meridiem {{isActiveStartMeridiem 'pm'}}">pm</a>
                        <a href="#" class="btn btn-default" style="visibility: hidden"></a>
                        <a href="#" class="btn btn-default" style="visibility: hidden"></a>
                        <a href="#" class="btn btn-default" style="visibility: hidden"></a>
                        <a href="#" class="btn btn-default" style="visibility: hidden"></a>
                        <a href="#" class="btn btn-default" style="visibility: hidden"></a>
                    </div>
                </div>
                {{/isolate}}

                {{#isolate}}
                <div class="form-group">
                    <p class="standard-font-size">End</p>
                    {{#unless isEventRecurring}}
                    <form style="margin-bottom: 2px">
                        <input id="create-end-date" value='{{getDate}}'
                               readonly type="text" class="form-control date-picker"/>
                    </form>
                    {{/unless}}
                    <div class="btn-group btn-group-justified" style="margin-bottom: 2px">
                        <a id='1-he' href="#" class="btn btn-default {{isActive '1-he'}} end-hour">1</a>
                        <a id='2-he' href="#" class="btn btn-default {{isActive '2-he'}} end-hour">2</a>
                        <a id='3-he' href="#" class="btn btn-default {{isActive '3-he'}} end-hour">3</a>
                        <a id='4-he' href="#" class="btn btn-default {{isActive '4-he'}} end-hour">4</a>
                        <a id='5-he' href="#" class="btn btn-default {{isActive '5-he'}} end-hour">5</a>
                        <a id='6-he' href="#" class="btn btn-default {{isActive '6-he'}} end-hour">6</a>
                        <a id='7-he' href="#" class="btn btn-default {{isActive '7-he'}} end-hour">7</a>
                        <a id='8-he' href="#" class="btn btn-default {{isActive '8-he'}} end-hour">8</a>
                        <a id='9-he' href="#" class="btn btn-default {{isActive '9-he'}} end-hour">9</a>
                        <a id='10-he' href="#" class="btn btn-default {{isActive '10-he'}} end-hour">10</a>
                        <a id='11-he' href="#" class="btn btn-default {{isActive '11-he'}} end-hour">11</a>
                        <a id='12-he' href="#" class="btn btn-default {{isActive '12-he'}} end-hour">12</a>
                    </div>
                    <div class="btn-group btn-group-justified">
                        <a id='00-me' href="#" class="btn btn-default {{isActive '00-me'}} end-minute">00</a>
                        <a id='05-me' href="#" class="btn btn-default {{isActive '05-me'}} end-minute">05</a>
                        <a id='10-me' href="#" class="btn btn-default {{isActive '10-me'}} end-minute">10</a>
                        <a id='15-me' href="#" class="btn btn-default {{isActive '15-me'}} end-minute">15</a>
                        <a id='20-me' href="#" class="btn btn-default {{isActive '20-me'}} end-minute">20</a>
                        <a id='25-me' href="#" class="btn btn-default {{isActive '25-me'}} end-minute">25</a>
                        <a id='30-me' href="#" class="btn btn-default {{isActive '30-me'}} end-minute">30</a>
                        <a id='35-me' href="#" class="btn btn-default {{isActive '35-me'}} end-minute">35</a>
                        <a id='40-me' href="#" class="btn btn-default {{isActive '40-me'}} end-minute">40</a>
                        <a id='45-me' href="#" class="btn btn-default {{isActive '45-me'}} end-minute">45</a>
                        <a id='50-me' href="#" class="btn btn-default {{isActive '50-me'}} end-minute">50</a>
                        <a id='55-me' href="#" class="btn btn-default {{isActive '55-me'}} end-minute">55</a>
                    </div>
                    <br>
                    <div class="btn-group btn-group-justified">
                        <a href="#" class="btn btn-default" style="visibility: hidden"></a>
                        <a href="#" class="btn btn-default" style="visibility: hidden"></a>
                        <a href="#" class="btn btn-default" style="visibility: hidden"></a>
                        <a href="#" class="btn btn-default" style="visibility: hidden"></a>
                        <a href="#" class="btn btn-default" style="visibility: hidden"></a>
                        <a id='am-e' href="#" class="btn btn-default end-meridiem {{isActiveEndMeridiem 'am-e'}}">am</a>
                        <a id='pm-e' href="#" class="btn btn-default end-meridiem {{isActiveEndMeridiem 'pm-e'}}">pm</a>
                        <a href="#" class="btn btn-default" style="visibility: hidden"></a>
                        <a href="#" class="btn btn-default" style="visibility: hidden"></a>
                        <a href="#" class="btn btn-default" style="visibility: hidden"></a>
                        <a href="#" class="btn btn-default" style="visibility: hidden"></a>
                        <a href="#" class="btn btn-default" style="visibility: hidden"></a>
                    </div>
                </div>

                <div class="form-group">
                    <input type="text" id="event-title" class="form-control" placeholder="{{getString 'title'}}">
                </div>
                <div class="form-group">
                    <input type="text" id="event-tagline" class="form-control" placeholder="{{getString 'tagline'}}">
                </div>
                <div class="form-group">
                    <input type="text" id="event-address" class="form-control" placeholder="{{getString 'eventAddressHeader'}}">
                </div>
                <div class="form-group">
                    <textarea rows="5" id="event-description"  class="form-control event-description" placeholder="{{getString 'descriptionPlaceholder'}}"></textarea>
                </div>

                <div id='category-group' class="form-group">
                    <div class="text-center">
                        {{#each arrayify e_categories}}
                        <button id={{name}} type="button" class="category btn btn-default event-attr {{isActive name}}">{{value}}</button>
                        {{/each}}
                    </div>
                </div>
                {{/isolate}}
                <div class="text-center">
                    <button id="create-event" type="button" class="btn btn-alizarin">{{getString 'eventcreate'}}</button>
                </div>
            </form>
        </div>
    </div>
</template>