<template name="eventSuggestions">
    <div class="row text-center">
        <a href='/event/{{getEventId}}' id="return" class="btn btn-link">{{getString 'returnToEvent'}}</a>
    </div>
    {{#each userData}}
    <div class="panel item-panel row">
        <div class="col-xs-12 text-right">
            <button id='dismissSuggestion' type="button" class="close" >&times;</button>
        </div>
        <div class="col-sm-3 col-xs-12 text-center">
            <input type="image" src='{{getObjFromIndex profile.uploadedpic "src"}}' class="item-photo">
        </div>
        <div class="col-xs-12 col-sm-9">
            <div class="row center-on-small-screen">
                <div class="col-xs-12">
                    {{#if profile.hasBrand}}
                    <h1>{{profile.business_name}}</h1>
                    {{else}}
                    <h1>{{profile.first_name}} {{profile.last_name}}</h1>
                    {{/if}}
                </div>
            </div>
            <div class="row center-on-small-screen">
                <div class="col-sm-6">
                    <button id='invite' class="btn btn-warning useritem-btn btn-margin">
                        {{getString 'inviteToEvent'}}
                    </button>
                </div>
            </div>
            {{#if profile.hasBrand}}
            <div class="row top-margin">
                <div class="col-xs-12 text-right">
                    {{#each arrayify profile.categories}}
                    <button class="disabled btn btn-info category">
                        {{getCategoryString value}}
                    </button>
                    {{/each}}
                </div>
            </div>
            {{/if}}
        </div>
    </div>
    {{/each}}
</template>