<template name="eventedit">
    <div class="ld">
        <div class="container">
            <div class="row item">
                <h4 class="col-xs-12">{{getString 'editEvent'}}</h4>
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-12 col-md-10 col-md-offset-1">
                            <div class="bottom-margin event-image-thumbnail">
                                <div class="text-center">
                                    <input id="photo" class="event-image" type="image" src="{{getEventPicSource}}" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-12 col-md-10 col-md-offset-1 bottom-margin">
                            <div class="input-group">
                                <span class="input-group-addon event-field-header square-input">{{getString 'title'}}</span>
                                <input id="title" type="text" placeholder="{{eventData.title}}" class="form-control square-input">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-12 col-md-10 col-md-offset-1 bottom-margin">
                            <div class="input-group">
                                <span class="input-group-addon event-field-header square-input">{{getString 'tagline'}}</span>
                                <input id="tagline" type="text" placeholder="{{eventData.tagline}}" class="form-control square-input">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-12 col-md-10 col-md-offset-1 bottom-margin">
                            <div class="input-group">
                                <span class="input-group-addon event-field-header square-input">{{getString 'eventAddressHeader'}}</span>
                                <input id="address" type="text" placeholder="{{eventData.address}}" class="form-control square-input">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="row">
                        {{#unless recurring}}
                        <div class="col-xs-12 col-md-5 col-md-offset-1 bottom-margin">
                            <div class="input-group">
                                <span class="input-group-addon event-field-header square-input" type="text">{{getString 'startdate'}}</span>
                                <input id="startdate" value='{{getDate}}'
                                       readonly type="text" class="form-control square-input"/>
                            </div>
                        </div>
                        {{/unless}}
                        <div class="{{getColumnsForTime}}">
                            <div class="col-xs-4 bottom-margin">
                                <select id='starttime-hours' class="form-control">
                                    {{#each arrayify hours}}
                                    <option value="{{name}}">{{value}}</option>
                                    {{/each}}
                                </select>
                            </div>
                            <div class="col-xs-4 bottom-margin">
                                <select id='starttime-minutes' class="form-control">
                                    {{#each arrayify minutes}}
                                    <option value="{{name}}">{{value}}</option>
                                    {{/each}}
                                </select>
                            </div>
                            <div class="col-xs-4 bottom-margin">
                                <select id='starttime-ampm' class="form-control">
                                    {{#each arrayify ampm}}
                                    <option value="{{name}}">{{value}}</option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="row {{isEndDateTimeHidden}}">
                        {{#unless recurring}}
                        <div class="col-xs-12 col-md-5 col-md-offset-1 bottom-margin">
                            <div class="input-group">
                                <span class="input-group-addon event-field-header square-input" type="text">{{getString 'enddate'}}</span>
                                <input id="enddate" readonly type="text" class="form-control square-input"/>
                            </div>
                        </div>
                        {{/unless}}
                        <div class="{{getColumnsForTime}}">
                            <div class="col-xs-4 bottom-margin">
                                <select id='endtime-hours' class="form-control">
                                    {{#each arrayify hours}}
                                    <option value="{{name}}">{{value}}</option>
                                    {{/each}}
                                </select>
                            </div>
                            <div class="col-xs-4 bottom-margin">
                                <select id='endtime-minutes' class="form-control">
                                    {{#each arrayify minutes}}
                                    <option value="{{name}}">{{value}}</option>
                                    {{/each}}
                                </select>
                            </div>
                            <div class="col-xs-4 bottom-margin">
                                <select id='endtime-ampm' class="form-control">
                                    {{#each arrayify ampm}}
                                    <option value="{{name}}">{{value}}</option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <button id='end-date-toggle' class="btn btn-link">{{getEndDateTimeString}}</button>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-12 col-md-10 col-md-offset-1 bottom-margin">
                            <div class="input-group">
                                <textarea id="description" rows="5" class="col-xs-12 event-description form-control square-input"
                                          placeholder="{{eventData.description}}"></textarea>
                                <div class="row">
                                    <div class="col-xs-12 text-left bottom-margin">
                                        <div class="input-group">
                                <span class="input-group-addon">
                                <input {{isPrivateEventChecked}} id="privateEvent" type="checkbox"/> {{getString 'privateEvent'}}
                                </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {{#if recurring}}
                <div class="col-xs-12">
                    <div class="row text-center bottom-margin">
                        {{#with eventData}}
                        {{#each arrayify days}}
                        <button id={{name}} class="btn {{recurringSelector name 'btn-warning' 'btn-default' ../recurring}} recurrDay">{{value}}</button>
                        {{/each}}
                        {{/with}}
                    </div>
                </div>
                {{/if}}
                <div class="col-xs-12">
                    <div class="row text-center bottom-margin">
                        {{#with eventData}}
                        {{#each arrayify e_categories}}
                        <button id={{name}} class="btn {{categorySelector name 'btn-warning' 'btn-default' ../categories}} category">{{value}}</button>
                        {{/each}}
                        {{/with}}
                    </div>
                </div>
                {{#isolate}}
                <div class="col-xs-12">
                    <div class="row text-center bottom-margin">
                        <div class="col-xs-12">
                            <button id="update" type="button" class="btn btn-primary">{{getString 'update'}}</button>
                        </div>
                    </div>
                </div>
                {{/isolate}}
            </div>
        </div>
    </div>
</template>