<template name="event">
    <div class="ld">
        <div class="container padding-container bottom-padding">
            <div class="row">
                <div class="col-xs-12 item">
                    <div id="top-div">
                        {{#if myEvent}}
                        <div class="row">
                            <div class="col-xs-12 text-right">
                                <a href="/edit/{{eventData._id}}" class="btn btn-link">{{getString 'editEvent'}}</a>
                            </div>
                        </div>
                        {{else}}
                        {{#with eventData}}
                        <div class="row">
                            <div class="col-xs-12 text-right">
                                {{#each arrayify categories}}
                                <button class="btn btn-danger category event-category">
                                    {{getCategoryString value}}
                                </button>
                                {{/each}}
                            </div>
                        </div>
                        {{/with}}
                        {{/if}}
                        <div class="row">
                            <div class="col-xs-12 col-sm-4 text-center">
                                {{#constant}}
                                {{#with eventData}}
                                <img id="event-pic" src='{{uploadedpic}}' alt="/img/default.jpg" class="img-circle">
                                {{/with}}
                                {{#unless myEvent}}
                                {{#with ownerData}}
                                <p class="standard-font-size">{{getString 'hostIntroduction'}}<a href="/profile/{{username}}">{{username}}</a></p>
                                {{/with}}
                                {{/unless}}
                                {{/constant}}
                            </div>
                            {{#with eventData}}
                            <div class="col-xs-12 col-sm-8">
                                <h3>{{title}}</h3>
                                <p class="standard-font-size">
                                    {{#if nonEmptyString tagline}}
                                        {{tagline}}<br>
                                    {{/if}}
                                    {{#if nonEmptyString address}}
                                    <i class="fa fa-map-marker"></i> {{address}}
                                    {{/if}}
                                    {{#if recurring}}
                                    <br><i class="fa fa-clock-o"></i> Starts at: {{HHMM HHMMStart}}
                                    {{#if HHMMEnd}}
                                    <br><i class="fa fa-clock-o"></i> Ends at: {{HHMM HHMMEnd}}
                                    {{/if}}
                                    <br><i class="fa fa-calendar-o"></i> {{recString recurring}}
                                    {{else}}
                                    <br><i class="fa fa-clock-o"></i> Starts at: {{formattedTime timeStart}}
                                    <br><i class="fa fa-calendar"></i> On: {{formattedDay timeStart}}, {{formattedDate timeStart}}
                                    {{#if timeEnd}}
                                    <br><i class="fa fa-clock-o"></i> Ends at: {{formattedTime timeEnd}}
                                    <br><i class="fa fa-calendar"></i> On: {{formattedDay timeEnd}}, {{formattedDate timeEnd}}
                                    {{/if}}
                                    {{/if}}
                                </p>
                            </div>
                            {{/with}}
                        </div>
                        <div class="row bottom-margin">
                            <div class="col-xs-12 col-sm-4 text-center">
                                {{#if myEvent}}
                                <!--View Suggestions Logic will eventually go here-->
                                {{else}}
                                {{#with eventData}}
                                {{#if open}}
                                {{#if amIAttending}}
                                <button id="unattend" class="btn btn-default btn-margin alter-attendance"><span>{{getString 'attending'}}</span></button>
                                {{else}}
                                <button id="attend" class="btn btn-default btn-margin alter-attendance"><span>{{getString 'notAttending'}}</span></button>
                                {{/if}}
                                {{else}}
                                {{#if amIInvited}}
                                <button id="attend" class="btn btn-default btn-margin alter-attendance"><span>{{getString 'notAttending'}}</span></button>
                                {{/if}}
                                {{/if}}
                                {{/with}}
                                {{/if}}
                            </div>
                            <div class="col-xs-12 col-sm-8">
                                <p class="standard-font-size">
                                    {{safeString eventData.description}}
                                </p>
                            </div>
                        </div>
                        {{#isolate}}
                        <div class="row">
                            <div class="col-xs-12  col-sm-8 col-sm-offset-4 text-center">
                                <button id="attendance" class="btn btn-link">{{getString 'attendees'}} {{getNumAttendees}}</button>
                            </div>
                        </div>
                        {{/isolate}}
                    </div>
                    <div id="bottom-div">
                        <div class="row">
                            {{#constant}}
                            <div class="col-xs-12 col-sm-4 text-center bottom-margin">
                                {{#if hasLocation eventData}}
                                <div id="map-canvas" style="width: 100%; max-width: 300px;  margin-left: auto; margin-right: auto">
                                </div>
                                {{/if}}
                            </div>
                            {{/constant}}
                            <div id ="event-comments-div" class="col-xs-12 col-sm-8">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <h3 class="panel-title">{{getString 'comments'}}</h3>
                                            </div>
                                            <div>
                                                {{#isolate}}
                                                <div class="thread panel-body">
                                                    {{#if hasComments eventData}}
                                                    {{#each reverse eventData.comments}}
                                                    <div class="comment">
                                                        <div class="row">
                                                            <div class="col-xs-3">
                                                                <div class="row">
                                                                    <div class="col-xs-12">
                                                                        <img class="comment-user-photo" src="{{getCommentOwnerPhoto}}">
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-xs-12 standard-font-size">
                                                                        <a href="/profile/{{getUsernameFromId userId}}">{{getUsernameFromId userId}}</a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-xs-9">
                                                                <div class="row">
                                                                    <div class="col-xs-12 comment-txt">
                                                                        <p class="standard-font-size">{{comment}}</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-xs-6 text-center">
                                                                <button class='btn btn-link likeComment standard-font-size'>{{getLikeString likes}}</button>
                                                            </div>
                                                            {{#if isMyComment userId}}
                                                            <div class="col-xs-6 text-center">
                                                                <button class="btn btn-link removeComment standard-font-size">{{getString 'remove'}}</button>
                                                            </div>
                                                            {{/if}}
                                                        </div>
                                                    </div>
                                                    {{/each}}
                                                    {{else}}
                                                    <div class="row full-height text-center" style="vertical-align: middle">
                                                        <p class="standard-font-size"><strong>{{getString 'noComments'}}</strong></p>
                                                    </div>
                                                    {{/if}}
                                                    {{#unless myHasAll}}
                                                    <div class="col-xs-12 text-center">
                                                        <button id="loadEarlier" class="btn btn-link">
                                                            {{getString "loadEarlier"}}
                                                        </button>
                                                    </div>
                                                    {{/unless}}
                                                </div>
                                                {{/isolate}}
                                            </div>
                                            <div class="panel-footer">
                                                <div id='event-post-comment-div' class="row">
                                                    <div class="col-xs-12">
                                                        <input type="text" id="comment" class="form-control square-input"
                                                               placeholder="{{getString 'enterComment'}}"/>
                                                    </div>
                                                    <div class="col-xs-12">
                                                        <div class="row text-center top-margin">
                                                            <button id='post-comment' class="btn btn-primary square-button">{{getString 'comment'}}</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>