<template name="eventResult">
    <a href="/event/{{_id}}" class="result-anchor">
        <div class="panel item-panel row">
            <div class="col-xs-12 col-sm-3 text-center">
                <img alt src="{{uploadedpic}}" class="item-photo">
            </div>
            <div class="col-sm-9 col-xs-12">
                <div class="row">
                    <div class="col-xs-12">
                        <p class="standard-font-size"><strong>{{title}}</strong></p>
                        {{#if nonEmptyString address}}
                        <p class="standard-font-size"><strong><i class="fa fa-map-marker"></i>  {{address}}</strong></p>
                        {{/if}}
                        {{#if recurring}}
                        <p class="standard-font-size"><strong><i class="fa fa-clock-o"></i> Starts at: {{HHMM HHMMStart}}</strong></p>
                        {{#if HHMMEnd}}
                        <p class="standard-font-size"><strong><i class="fa fa-clock-o"></i> Ends at: {{HHMM HHMMEnd}}</strong></p>
                        {{/if}}

                        <p class="standard-font-size"><strong><i class="fa fa-calendar-o"></i> {{recString recurring}}</strong></p>
                        {{else}}
                        <p class="standard-font-size"><strong><i class="fa fa-clock-o"></i> Starts at: {{formattedTime timeStart}}</strong></p>
                        <p class="standard-font-size"><strong><i class="fa fa-calendar"></i> On: {{formattedDay timeStart}}, {{formattedDate timeStart}}</strong></p>
                        {{#if timeEnd}}
                        <p class="standard-font-size"><strong><i class="fa fa-clock-o"></i> Ends at: {{formattedTime timeEnd}}</strong></p>
                        <p class="standard-font-size"><strong><i class="fa fa-calendar"></i> On: {{formattedDay timeEnd}}, {{formattedDate timeEnd}}</strong></p>
                        {{/if}}
                        {{/if}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 text-right">
                        {{#each arrayify categories}}
                        <button class="disabled-category btn btn-danger category">
                            {{getCategoryString value}}
                        </button>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </a>
</template>