<template name="eventitem">
    <div class="container bottom-margin">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 listable-item">
                <div class="col-xs-12 col-sm-3 no-left-padding center-on-small-screen">
                    <img id='event-image' src="{{uploadedpic}}" class="event-item-photo img-circle hover-click"/>
                </div>
                <div class="col-xs-12 col-sm-9 center-vertically">
                    <div class="row">
                        <div class="col-xs-12">
                            <h3>{{title}}</h3>
                            {{#if nonEmptyString address}}
                            <p class="standard-font-size"><i class="fa fa-map-marker"></i>  {{address}}</p>
                            {{/if}}
                            {{#unless isMyEvent}}
                            <p class="standard-font-size">{{getString 'hostIntroduction'}} <a id='host-link' href="/profile/{{getUsernameFromId owner}}">{{getUsernameFromId owner}}</a></p>
                            {{/unless}}
                        </div>
                    </div>

                    <div style="display: none">
                        <div class="row">
                            <div class="col-xs-12 text-right">
                                {{#each arrayify categories}}
                                <button class="btn btn-danger btn-sm category event-category">
                                    {{getCategoryString value}}
                                </button>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>