<template name="forgotPassword">
    <div class="row bottom-margin">
        <div class="col-md-8 col-md-offset-2">
            <input class='form-control square-input' id="email" type="text" placeholder="enter your email">
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
            <button id='send' class="btn btn-primary">Send Password Reset Link</button>
        </div>
    </div>
</template>