<template name="home">
    <div class="ld">
        <div class="container">
            <div class="bottom-padding">
                {{#if eventData}}
                {{#each eventData}}
                {{>eventitem}}
                {{/each}}

                {{#unless myHasAll}}
                <div class="col-xs-12 text-center">
                    <button id="loadMore" class="btn btn-link">
                        {{getString "loadMore"}}
                    </button>
                </div>
                {{/unless}}
                {{else}}
                <h1 class="text-center">{{getString 'noHomeEvents'}}</h1>
                {{/if}}
            </div>
        </div>
    </div>
</template>