<template name="initialsetup">
    <div class="ld">
        {{#isolate}}
        <div class="row">
            <div class="text-center">
                <img id="uploadedpic" style="width: auto; max-height: 250px;" src="{{getImageSource}}">
                <!--<div class="caption">-->
                <!--<input id="caption" type="text" class="form-control">-->
                <!--</div>-->
            </div>
        </div>
        <div class="row">
            <div class="col-sm-offset-4 col-sm-4 text-center">
                <br>
                <button class="btn btn-info " id="attachment">{{getString "uploadPhoto"}}</button>
            </div>
        </div>
        {{/isolate}}
        <br>
        <br>
        {{#isolate}}
        <div class="row">
            <div class="input-group col-sm-8 col-sm-offset-2">
                <span class="square-input input-group-addon acct-field-header">{{getString "username"}}</span>
                <input type="text" class="square-input form-control checkEmpty" id="acctUserName">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <p id="usernameAvail" class='{{getParagraphClass}} standard-font-size'>
                    {{#if showParagraph}}
                    {{selectConstantString 'usernameAvail' 'available' 'usernameNotAvailable'}}</p>
                {{else}}
                <br>
                {{/if}}
            </div>
        </div>
        <br>
        {{/isolate}}
        {{>categories}}
        <div class="row text-center">
            <button id="completeReg" class="btn btn-danger">{{getString 'completeRegistration'}}</button>
        </div>
    </div>
</template>