<template name="main">
    <div id="main-div">
        <div style="float: right">
            <ul>
                <li>
                    <a href="#" data-toggle="modal" data-target="#login-modal">Login</a>
                </li>
                <li>
                    <a href="#" data-toggle="modal" data-target="#registration-modal">Register</a>
                </li>
            </ul>
        </div>
        <span id="moxx">Moxx</span>
        <span id="text" class="collapse text-center">Go Out. Get In.</span>
    </div>
    <div id='login-modal' class="modal fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <input type="text" class="form-control" id="loginId" placeholder="{{getString 'emailOrUsername'}}">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="password" placeholder="{{getString 'Password'}}">
                        </div>
                        <div class="text-center">
                            <button id='login' type="button" class="btn btn-default" data-dismiss="modal">{{getString 'login'}}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="registration-modal" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    {{#isolate}}
                    <form class="text-center">
                        <div class="form-group">
                            {{#if showBusinessRegistrationForm}}
                            <button type="button" class="btn btn-link" id="personal-registration">{{getString 'personalUserRegistrationPrompt'}}</button>
                            {{else}}
                            <button type="button" class='btn btn-link' id="business-registration">{{getString 'businessUserRegistrationQuestion'}}</button>
                            {{/if}}
                        </div>
                    </form>
                    {{#if showBusinessRegistrationForm}}
                    <form>
                        <div class="form-group">
                            <input type="text" id="businessRegFirstLast" class="form-control" placeholder="{{getString 'firstAndLastName'}}">
                        </div>
                        <div class="form-group">
                            <input type="text" id="businessCompanyName" class="form-control" placeholder="{{getString 'businessName'}}">
                        </div>
                        <div class="form-group">
                            <input type="text" id="businessWebsite" class="form-control" placeholder="{{getString 'website'}}">
                        </div>
                        <div class="form-group">
                            <input type="text" id="businessPhone" class="form-control" placeholder="{{getString 'phoneNumber'}}">
                        </div>
                        <div class="form-group">
                            <input type="text" id="businessAddress" class="form-control" placeholder="{{getString 'businessAddress'}}">
                        </div>
                        <div class="form-group">
                            <input type="email" id="businessRegEmail" class="form-control" placeholder="{{getString 'emailAddress'}}">
                        </div>
                        <div class="form-group">
                            <input type="password" id="businessRegPasswordOne" class="form-control" placeholder="{{getString 'Password'}}">
                        </div>
                    </form>
                    {{else}}
                    <form>
                        <div class="form-group">
                            <input type="text" id="name" class="form-control" placeholder="{{getString 'firstAndLastName'}}">
                        </div>
                        <div class="form-group">
                            <input type="text" id="email" class="form-control" placeholder="{{getString 'enterEmail'}}">
                        </div>
                        <div class="form-group">
                            <input type="password" id="reg-password" class="form-control" placeholder="{{getString 'enterPassword'}}">
                        </div>
                    </form>
                    {{/if}}
                    <form>
                        <div class="text-center">
                            <button id="register" type="button" class="btn btn-default" data-dismiss="modal">{{getString 'register'}}</button>
                        </div>
                    </form>
                    {{/isolate}}
                </div>
            </div>
        </div>
    </div>
</template>

