<template name="moxxboxx">
    <div class="ld">
        <div id="moxxboxx" class="container">
            <div class="row full-height">
                <div class="col-xs-4 full-height" style="border-right-style: solid; border-right-color: #e7e7e7; border-right-width: 1px;">
                    <div class="row">
                        <div id='create' class="col-xs-12 bottom-margin">
                            <div id="create-div" class="row collapse in">
                                <div id='new-chat' class="col-xs-12">
                                    <button id="create-chat" class="btn btn-primary" style="width: 100%" data-toggle="collapse" data-target="#new-chat-name">
                                        New Chat <i class="fa fa-plus-square"></i>
                                    </button>
                                </div>
                            </div>
                            <div id='create-div-collapse' class="row collapse">
                                <div class="col-xs-12">
                                    <div class="input-group">
                                        <input class="form-control checkEmpty square-input chatTitle" type="text" placeholder="{{getString 'createChatHeader'}}" id="chatTitle1"/>
                                    <span class="input-group-btn hide-on-xs-screen">
                                        <button class="acct-field-footer btn btn-primary square-button" id="createChat">
                                            Create
                                        </button>
                                    </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div id='chats' class="col-xs-12 overflow-y-only">
                            <div class="row">
                                {{#if myChats}}
                                {{#each myChats}}
                                <a href="/moxxboxx/{{_id}}">
                                    <div class="col-xs-10">
                                        <div class="chat-div hover-click">
                                            <p class="standard-font-size">
                                                <strong>
                                                    {{title}}
                                                </strong>
                                            </p>
                                            <p class="standard-font-size">
                                                {{#each messages}}
                                                <span style="color: #999999">{{getLastUsername ../../members ../_id user}}</span> : {{message}}
                                                {{#if upload}}
                                                <em>{{getString 'hasUpload'}}</em>
                                                {{/if}}
                                                {{/each}}
                                            </p>
                                        </div>
                                    </div>
                                </a>
                                <div class="col-xs-2 text-right">
                                    <button class="close leaveChat" data-dismiss="alert">&times;</button>
                                </div>
                                {{/each}}
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-8">
                    <div class="row">
                        <div class="col-xs-12 text-right">
                            <p class="large-font-size">Title</p>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>