<template name="navigation">
    <nav class="navbar navbar-wet-asphalt navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarcollapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Moxx</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbarcollapse">
            {{#unless loggingIn}}
            <ul class="nav navbar-nav standard-font-size navbar-left">
                {{#if adminEmail}}
                <li class="{{isNavActive 'admin'}}">
                    <a href="/admin">Admin</a>
                </li>
                {{/if}}

                <li class="{{isNavActive 'search'}}">
                    <a href="/search">Search</a>
                </li>
                <li class="{{isNavActive 'moxxboxx'}}">
                    <a href="/moxxboxx">MoxxBoxx</a>
                </li>
                <li class="{{isNavActive 'notifications'}}">
                    <a href="/notifications">Notifications {{newNotificationsString}}</a>
                </li>
                <li class="{{isNavActive 'account'}} show-on-xs-screen">
                    <a href="/account">Account</a>
                </li>
                {{#with currentUser}}
                <li class="{{isNavActive 'profile'}} show-on-xs-screen">
                    <a href="/profile/{{validUser}}">Profile</a>
                </li>
                {{/with}}
                <li class="{{isNavActive 'eventcreate'}}">
                    <a href="/eventcreate">Create</a>
                </li>
            </ul>
            <form class="navbar-form navbar-right show-on-xs-screen">
                <button type="button" class="btn btn-alizarin login-logout"
                        class="logout-button">
                    {{getLoginOrLogoutText}}
                </button>
            </form>
            <ul id='nav-nxs' class="nav navbar-nav navbar-right">
                <li  class="dropdown hide-on-xs-screen">
                    <a id='nav-nxs-caret' href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-caret-down"></i></a>
                    <ul id="nav-nxs-ul" class="dropdown-menu no-box-shadow">
                        {{#with currentUser}}
                        <li><a href="/profile/{{validUser}}">Profile</a></li>
                        {{/with}}
                        <li><a href="/account">Account</a></li>
                        <li class="divider"></li>
                        <li><a class="logout-button" href="#">Logout</a></li>
                    </ul>
                </li>
            </ul>
            <ul>
                <!-- bootstrap hack -->
            </ul>
            {{/unless}}
        </div><!-- /.navbar-collapse -->
    </nav>
</template>

