<template name="notifications">
    <div class="ld">
        {{#if currentUser.notifications}}

        {{#unless myHasAll}}
        <div class="row">
            <div class="col-xs-12 text-center ">
                <button id="loadEarlier" class="btn btn-link">
                    {{getString "loadEarlierNotif"}}
                </button>
            </div>
        </div>
        {{/unless}}
        {{#each sortedNotifications}}
        <div class="notification notification-item bottom-margin" style="margin-left: auto; margin-right: auto">
            <img src="{{getFirstUserImage}}" class='notification-image' alt="">
            <div class="notification-item-content" style="margin-left: 10px">
                <p><button type="button" class="close deleteNotification" data-dismiss="alert" >&times;</button></p>
                <p class="standard-font-size" style="margin-top: 20px">{{getNotificationString}}</p>
                <p class="smedium-font-size text-right" style="margin-top: 20px"><i>{{getTimePassedSince timeStamp}}</i></p>
            </div>
        </div>
        {{/each}}
        {{else}}
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1 text-center">
                <h1>{{getString 'noNotifications'}}</h1>
            </div>
        </div>
        {{/if}}
    </div>
</template>