<template name="popup">
    {{#if showMyModal}}
        {{> myModal}}
    {{/if}}
</template>

<template name="myModal">
    <!-- this is the backdrop fully shown from the beginning -->
    <div class="modal-backdrop fade in"></div>
    <!-- css ".show" class == modal fully shown -->
    <div class="modal show">
        <div class="modal-dialog">
            <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">{{showSession 'popupTitle'}}</h4>
                    </div>
                    <div class="modal-body">
                        <h3> {{showSession 'popupMessage'}} </h3>
                    </div>
            </div>
        </div>
    </div>
</template>