<template name="profile">
    <div class="ld">
        <div class="container padding-container bottom-padding">
            <div class="row">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="name text-right">
                                {{#with userInfo}}
                                <p class="standard-font-size"><strong>
                                    {{#if profile.hasBrand}}
                                    {{profile.business_name}}
                                    {{else}}
                                    {{profile.first_name}} {{profile.last_name}}
                                    {{/if}}
                                </strong></p>
                                {{/with}}
                            </div>
                        </div>
                    </div>
                    {{#if showViewRequests}}
                    <div class="row">
                        <div class="col-xs-12 text-right">
                            <a class='standard-font-size' href="/requests">View Requests</a>
                        </div>
                    </div>
                    {{/if}}
                    <div class="row">
                        <div id="div-profile-info" class="col-xs-12 col-sm-4">
                            <div class="row">
                                {{#with userInfo}}
                                <div class="col-xs-12 text-center">
                                    <img id='profile-photo' alt="" src='{{getObjFromIndex profile.uploadedpic "src"}}'/>
                                </div>
                                {{#unless ../myProfile}}
                                <div class="col-xs-12 text-center">
                                    {{#if doIFollowUser}}
                                    <button id='unfollow' class="btn btn-default btn-margin connection"><span>{{getString 'following'}}</span></button>
                                    {{else}}
                                    {{#if profile.hasBrand}}
                                    <button id="follow" class="btn btn-default btn-margin connection"><span>{{getString 'notFollowing'}}</span></button>
                                    {{else}}
                                    {{#if haveIRequestedToFollow}}
                                    <button id="remove-follow-request" class="btn btn-default btn-margin connection"><span>{{getString 'requestSent'}}</span></button>
                                    {{else}}
                                    <button id="send-follow-request" class="btn btn-default btn-margin connection"><span>{{getString 'notFollowing'}}</span></button>
                                    {{/if}}
                                    {{/if}}
                                    {{/if}}
                                </div>
                                {{/unless}}
                                <div class="col-xs-12 text-center">
                                    <p class="standard-font-size">@{{username}}</p>
                                </div>
                                {{#if and profile.hasBrand emails}}
                                <div class="col-xs-12">
                                    <p><a class='standard-font-size' href="mailto:{{getObjFromIndex emails 'address' 0}}">{{getObjFromIndex emails 'address' 0}}</a></p>
                                </div>
                                {{/if}}
                                {{/with}}
                                <div class="col-xs-6 text-center">
                                    <p><a href="/followers/{{attachUsername}}" id="profile-followers" class="standard-font-size">{{getString 'followers'}}: {{numFollowers}}</a></p>
                                </div>
                                <div class="col-xs-6 text-center">
                                    <p><a href="/following/{{attachUsername}}" id="profile-following" class="standard-font-size">{{getString 'following'}}: {{numFollowing}}</a></p>
                                </div>
                                {{#with userInfo}}
                                {{#if hasCategories}}
                                <div class="col-xs-12 text-center">
                                    <p class="standard-font-size">Interests</p>
                                </div>
                                <div class="col-xs-12 text-center">
                                    {{#each arrayify profile.categories}}
                                    <button class="btn btn-alizarin btn-sm prof-category category">
                                        {{getCategoryString value}}
                                    </button>
                                    {{/each}}
                                </div>
                                {{/if}}
                                {{/with}}
                            </div>
                        </div>
                        <div id="div-event-info" class="col-xs-12 col-sm-8">
                            <div id='event-top-div' class="row">
                                <div class="col-xs-12">
                                    <h1>
                                        {{#if myProfile}}
                                        {{getString 'myEvents'}}
                                        {{else}}
                                        {{#with userInfo}}
                                        {{#if profile.hasBrand}}
                                        {{profile.business_name}}'s
                                        {{else}}
                                        {{profile.first_name}}'s
                                        {{/if}}
                                        {{getString 'events'}}
                                        {{/with}}
                                        {{/if}}
                                    </h1>
                                </div>
                            </div>
                            <div id="event-list" class="row .overflow-y-only">
                                {{#if eventData}}
                                {{#each eventData}}
                                <div class="col-xs-12 prof-event-div item listable-item center-on-small-screen">
                                    <div class="row">
                                        <div class="col-sm-4 col-xs-12 no-left-margin">
                                            <a href="/event/{{_id}}">
                                                <img src="{{uploadedpic}}" alt="" class='img-circle event-profile-photo'">
                                            </a>
                                        </div>
                                        <div class="col-sm-8 col-xs-12">
                                            <p class="standard-font-size">{{title}}</p>
                                            {{#if nonEmptyString address}}
                                            <p class="standard-font-size"><i class="fa fa-map-marker"></i>  {{address}}</p>
                                            {{/if}}
                                            {{#if recurring}}
                                            <p class="standard-font-size"><i class="fa fa-clock-o"></i> Starts at: {{HHMM HHMMStart}}</p>
                                            {{#if HHMMEnd}}
                                            <p class="standard-font-size"><i class="fa fa-clock-o"></i> Ends at: {{HHMM HHMMEnd}}</p>
                                            {{/if}}
                                            <p class="standard-font-size"><i class="fa fa-calendar-o"></i> {{recString recurring}}</p>
                                            {{else}}
                                            <p class="standard-font-size"><i class="fa fa-clock-o"></i> Starts at: {{formattedTime timeStart}}</p>
                                            <p class="standard-font-size {{#unless timeEnd}} no-bottom-margin {{/unless}}"><i class="fa fa-calendar"></i> On: {{formattedDay timeStart}}, {{formattedDate timeStart}}</p>
                                            {{#if timeEnd}}
                                            <p class="standard-font-size"><i class="fa fa-clock-o"></i> Ends at: {{formattedTime timeEnd}}</p>
                                            <p class="standard-font-size no-bottom-margin"><i class="fa fa-calendar"></i> On: {{formattedDay timeEnd}}, {{formattedDate timeEnd}}</p>
                                            {{/if}}
                                            {{/if}}
                                        </div>
                                    </div>
                                    <div id="hide" style="display: none">
                                        <div class="row">
                                            <div class="col-xs-12 text-right">
                                                {{#each arrayify categories}}
                                                <button class="btn btn-danger btn-sm category event-category">
                                                    {{getCategoryString value}}
                                                </button>
                                                {{/each}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {{/each}}
                                {{else}}
                                <div class="col-xs-12">
                                    <h3>
                                        {{#if myProfile}}
                                        {{getString 'noEvents'}}
                                        {{else}}
                                        {{#if userInfo.profile.hasBrand}}
                                        {{userInfo.profile.business_name}}
                                        {{else}}
                                        {{userInfo.profile.first_name}}
                                        {{/if}}
                                        {{getString 'userNoEvents'}}
                                        {{/if}}
                                    </h3>
                                </div>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</template>