<template name="register">
    <div id="register-div">
        <div class="container item">
            <div class="row">
                <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
                    <form class="text-center">
                        <div class="form-group">
                            {{#if showBusinessRegistrationForm}}
                            <button type="button" class="btn btn-link" id="personal-registration">{{getString 'personalUserRegistrationPrompt'}}</button>
                            {{else}}
                            <button type="button" class='btn btn-link' id="business-registration">{{getString 'businessUserRegistrationQuestion'}}</button>
                            {{/if}}
                        </div>
                    </form>
                    {{#if showBusinessRegistrationForm}}
                    <form>
                        <div class="form-group">
                            <input type="text" id="businessRegFirstLast" class="form-control" placeholder="{{getString 'firstAndLastName'}}">
                        </div>
                        <div class="form-group">
                            <input type="text" id="businessCompanyName" class="form-control" placeholder="{{getString 'businessName'}}">
                        </div>
                        <div class="form-group">
                            <input type="text" id="businessWebsite" class="form-control" placeholder="{{getString 'website'}}">
                        </div>
                        <div class="form-group">
                            <input type="text" id="businessPhone" class="form-control" placeholder="{{getString 'phoneNumber'}}">
                        </div>
                        <div class="form-group">
                            <input type="text" id="businessAddress" class="form-control" placeholder="{{getString 'businessAddress'}}">
                        </div>
                        <div class="form-group">
                            <input type="email" id="businessRegEmail" class="form-control" placeholder="{{getString 'emailAddress'}}">
                        </div>
                        <div class="form-group">
                            <input type="password" id="businessRegPasswordOne" class="form-control" placeholder="{{getString 'Password'}}">
                        </div>
                    </form>
                    {{else}}
                    <form>
                        <div class="form-group">
                            <input type="text" id="name" class="form-control" placeholder="{{getString 'firstAndLastName'}}">
                        </div>
                        <div class="form-group">
                            <input type="text" id="email" class="form-control" placeholder="{{getString 'enterEmail'}}">
                        </div>
                        <div class="form-group">
                            <input type="password" id="reg-password" class="form-control" placeholder="{{getString 'enterPassword'}}">
                        </div>
                    </form>
                    {{/if}}
                    <form>
                        <div class="text-center">
                            <button id="register" type="button" class="btn btn-default" data-dismiss="modal">{{getString 'register'}}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>