<template name="requestsitem">
    <div class="container item" style="background-color: white; padding: 15px; width: 600px;">
        <div class="row">
            <div class="col-xs-12">
                <a href="/profile/{{username}}" alt="{{username}}">
                    <img src='{{getObjFromIndex profile.uploadedpic "src"}}' alt="" class='img-circle' style="height: 100px; width: auto; float: left; margin-right: 30px;">
                </a>
                <div style="float: left">
                    <h1>
                        {{#if profile.hasBrand}}
                        {{profile.business_name}}
                        {{else}}
                        {{profile.first_name}} {{profile.last_name}}
                        {{/if}}
                    </h1>
                    <p class="standard-font-size">
                        <a href="/profile/{{username}}">@{{username}}</a>
                    </p>
                </div>
                <div style="float: right; margin-top: 30px; margin-right: 20px">
                    <i id='ignore' class="fa fa-times-circle fa-2x full-height" style="margin-right: 10px; vertical-align: middle"></i>
                    <button id='approve' class="btn btn-default">Add</button>
                </div>
            </div>
            {{#if profile.hasBrand}}
            <div class="col-xs-12 text-right">
                {{#each arrayify profile.categories}}
                <button class="disabled btn btn-primary category">
                    {{getCategoryString value}}
                </button>
                {{/each}}
            </div>
            {{/if}}
        </div>
    </div>
</template>