<template name="resetPassword">
    <div class="row bottom-margin">
        <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
            <input class="form-control topFormGroup" id="newpassone" type="password" placeholder="{{getString 'enterNewPassword'}}">
            <input class="form-control bottomFormGroup" id="newpasstwo" type="password" placeholder="{{getString 'reEnterPassword'}}"/>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 text-center">
            <button id="reset-password" class="btn btn-primary">Reset Password</button>
        </div>
    </div>
</template>