<template name="search">
    <div class="ld">
        <div class="container">
            <div id="search-item">
                <div class="row bottom-margin">
                    <div class="col-xs-12">
                        <div class="input-group">
                            <input class="form-control square-input" type="text" id="searchQuery" value="{{getSearchQuery}}" placeholder="{{getString 'searchPlaceholder'}}"/>
                        <span class="input-group-btn">
                            <div class="btn-group acct-field-footer">
                                <button type="button" class="btn btn-default square-button" id="clickSearch">{{getSearchTypeString}}</button>
                                <button type="button" class="btn btn-default dropdown-toggle square-button" data-toggle="dropdown">
                                    <span class="caret"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu no-box-shadow" role="menu">
                                    <li><a href="#" class="selectSearch" id=1>{{getString "events"}}</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#" class="selectSearch" id=2>{{getString "people"}}</a></li>
                                    <li><a href="#" class="selectSearch" id=3>{{getString "brands"}}</a></li>
                                </ul>
                            </div>
                        </span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        {{#if or isSearchEvents isSearchBrands}}
                        {{#if isSearchEvents}}
                        <div class="row text-center bottom-margin">
                            {{#each arrayify e_categories}}
                            {{#isolate}}
                            <button id={{name}} class="btn {{categoryBtn name}} btn-sm category">{{value}}</button>
                            {{/isolate}}
                            {{/each}}
                        </div>
                        <div class="row bottom-margin">
                            <div class="col-xs-12 col-sm-offset-2 col-sm-4 bottom-margin">
                                <div class="input-group">
                                    <span class="input-group-addon search-time-field-header square-input">From</span>
                                    <input class="form-control square-input text-center" readonly id="afterDate" type="text" value="{{getToday}}"/>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 bottom-margin">
                                <div class="input-group">
                                    <span class="input-group-addon search-time-field-header square-input">To</span>
                                    <input class="form-control square-input text-center" readonly id="beforeDate" type="text" value="{{getToday}}"/>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-8 col-sm-offset-2 bottom-margin" style="{{showDistance}}">
                                <div class="input-group">
                                    <span class="input-group-addon acct-field-header square-input">Distance (miles)</span>
                                    <input class="form-control square-input text-center" id="distance" type="text"  value="{{getDistance}}"/>
                                </div>
                            </div>
                        </div>
                        {{/if}}
                        {{/if}}
                        {{#if showAdvancedQuerying}}
                        <div class="row">
                            <div class="col-sm-4" style="display:none">
                                <div class="input-group">
                                    <span class="input-group-addon acct-field-header">Long (optional)</span>
                                    <input class="form-control" id="longitude" type="text" value="{{getLongitude}}"/>
                                </div>
                            </div>
                            <div class="col-sm-4" style="display:none">
                                <div class="input-group">
                                    <span class="input-group-addon acct-field-header">Lat (optional)</span>
                                    <input class="form-control" id="latitude" type="text"  value="{{getLatitude}}"/>
                                </div>
                            </div>
                        </div>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
        {{#if isSearchEvents}}
            {{#each results}}
                {{>eventResult}}
            {{/each}}
        {{else}}
            {{#if isSearchBrands}}
                {{#each results}}
                    {{>brandResult}}
                {{/each}}
            {{else}}
                {{#each results}}
                    {{>userResult}}
                {{/each}}
            {{/if}}
        {{/if}}
        {{#unless myHasAll}}
        <div class="col-xs-12 text-center">
            <button id="loadMore" class="btn btn-link">
                {{getString "loadMore"}}
            </button>
        </div>
        {{/unless}}
    </div>
</template>





