<template name="thread">
    {{#each messages}}
    <div class="row">
        <div class="col-xs-12">
            <a class='standard-font-size' href="/profile/{{getObj ../members user}}">{{getObj ../members user}}</a>
            {{#if upload}}
            <p>
                <a href="{{upload.src}}">
                    <img src="{{upload.src}}"
                         height = "{{upload.height}}"
                         width = "{{upload.width}}">
                </a>
            </p>
            {{/if}}
            <p class="standard-font-size">{{convertMessage message}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            {{timeStampStr timeStamp}}
        </div>
    </div>
    {{/each}}
</template>