<template name="userResult">
    <div class="container bottom-margin">
        <div class="row">
            <div class="col-md-offset-2 col-md-8 col-xs-12 item listable-item">
                <div class="col-xs-12 col-sm-3 no-left-padding">
                    <a href="/profile/{{username}}">
                        <img alt src='{{getObjFromIndex profile.uploadedpic "src"}}' class="item-photo img-circle">
                    </a>
                </div>
                <div class="col-sm-9 col-xs-12" style="padding-top: 10px;">
                    <p class="large-font-size item-text">{{profile.first_name}} {{profile.last_name}}</p>
                    <p class="standard-font-size">@{{username}}</p>
                </div>
            </div>
        </div>
    </div>
</template>