<template name="useritem">
    <div class="container item" style="background: white; padding: 15px; width: 600px; margin-bottom: 10px">
        <div class="row">
            <div class="col-xs-12">
                <a href="/profile/{{username}}" alt="{{username}}">
                    <img src='{{getObjFromIndex profile.uploadedpic "src"}}' alt="" class='img-circle' style="height: 100px; width: auto; float: left; margin-right: 30px;">
                </a>
                <div style="float: left">
                    <h1>
                        {{#if profile.hasBrand}}
                        {{profile.business_name}}
                        {{else}}
                        {{profile.first_name}} {{profile.last_name}}
                        {{/if}}
                    </h1>
                    <p class="standard-font-size">
                        <a href="/profile/{{username}}">@{{username}}</a>
                    </p>
                </div>
                {{#unless isMyUserItem}}
                <div style="float: right; margin-top: 30px; margin-right: 20px">
                    {{#if doIFollowUser}}
                        <button id='unfollow' class="btn btn-default btn-margin connection"><span>{{getString 'following'}}</span></button>
                    {{else}}
                        {{#if profile.hasBrand}}
                            <button id="follow" class="btn btn-default btn-margin connection"><span>{{getString 'notFollowing'}}</span></button>
                        {{else}}
                            {{#if haveIRequestedToFollow}}
                                <button id="remove-follow-request" class="btn btn-default btn-margin connection"><span>{{getString 'requestSent'}}</span></button>
                            {{else}}
                                <button id="send-follow-request" class="btn btn-default btn-margin connection"><span>{{getString 'notFollowing'}}</span></button>
                            {{/if}}
                        {{/if}}
                    {{/if}}
                    {{#if isUserFollowingMe}}
                        <i id='removeFollower' data-toggle="tooltip" class="fa fa-times-circle fa-2x full-height" style="margin-left: 10px; vertical-align: middle"></i>
                    {{/if}}
                </div>
                {{/unless}}
            </div>
            {{#if profile.hasBrand}}
            <div class="col-xs-12 text-right">
                {{#each arrayify profile.categories}}
                <button class="disabled btn btn-primary category">
                    {{getCategoryString value}}
                </button>
                {{/each}}
            </div>
            {{/if}}
        </div>
    </div>
</template>